.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  height: 139px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ffd7cd;
}
.home-navbar-interactive {
  width: 1448px;
  height: 135px;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  background-color: #ffd7cd;
}
.home-desktop-menu {
  flex: 1;
  width: 903px;
  height: 37px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.home-pasted-image {
  top: -143px;
  left: 10px;
  width: 303px;
  height: 298px;
  position: absolute;
}
.home-links {
  flex: 1;
  width: 1014px;
  height: 124px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-nav2 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-nav2:hover {
  color: #3d6e70ff;
}
.home-nav3 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-nav3:hover {
  color: #3d6e70ff;
}
.home-nav4 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-nav4:hover {
  color: #3d6e70ff;
}
.home-nav5 {
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-nav5:hover {
  color: #3d6e70ff;
}
.home-text:hover {
  color: #3d6e70ff;
}
.home-buttons {
  width: 182px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-thq-dropdown {
  width: 35px;
  cursor: pointer;
  height: 24px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle {
  top: -19px;
  fill: #595959;
  left: -385px;
  color: #ffffff;
  width: 175px;
  height: 55px;
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 45px;
  padding-right: 52px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #291477;
}
.home-dropdown-arrow {
  top: 31px;
  right: 49px;
  position: absolute;
  transition: 0.3s;
}
.home-container01 {
  flex: 0 0 auto;
  width: 105px;
  height: 21px;
  display: flex;
  flex-direction: column;
}
.home-text02 {
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-icon {
  fill: #D9D9D9;
  width: 32px;
  height: 28px;
  transition: 0.3s;
}
.home-dropdown-list {
  top: 20px;
  left: -279px;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.home-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-burger-menu {
  top: 56px;
  right: 260px;
  position: absolute;
}
.home-icon02 {
  width: 24px;
  height: 24px;
  opacity: 0;
}
.home-aras {
  opacity: 0;
}
.home-mobile-menu {
  top: -30px;
  right: -268px;
  width: 623px;
  height: 1239px;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  border-radius: 0px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-nav {
  height: 251px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  font-size: 2em;
  font-weight: bold;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon04 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-about-us-mobile {
  color: var(--dl-color-gray-white);
  width: 132px;
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.home-about-us-mobile:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.home-buttons2 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-menu {
  color: var(--dl-color-gray-white);
  width: 132px;
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.home-menu:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.home-text13:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.home-buttons3 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-gallery {
  color: var(--dl-color-gray-white);
  width: 132px;
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.home-gallery:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.home-text16:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  width: 100%;
  height: 521px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://media-cdn.grubhub.com/image/upload/d_search:browse-images:default.jpg/w_1200,q_auto,fl_lossy,dpr_auto,c_fill,f_auto,h_800,g_auto/yczsv4cctya70hhm0ukr');
}
.home-container03 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-heading {
  color: var(--dl-color-gray-white);
  width: 762px;
  height: 134px;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  line-height: 2;
}
.home-hero-sub-heading {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 1.6;
}
.home-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-details {
  width: 100%;
  height: 510px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-details1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.home-container04 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text20 {
  color: var(--dl-color-primary1-blue80);
  text-align: left;
  font-family: "Raleway";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-details-heading {
  width: 80%;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-details-sub-heading {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-details-image {
  width: 429px;
  height: 400px;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
}
.home-pricing {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-menu1 {
  width: 100%;
  height: 973px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-container05 {
  flex: 1;
  height: 914px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-details-heading1 {
  width: 139px;
  height: 63px;
  align-self: center;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container06 {
  width: 1852px;
  height: 821px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-container07 {
  flex: 0 0 auto;
  width: 692px;
  height: 901px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-pasted-image1 {
  width: 632px;
  height: 817px;
}
.home-container08 {
  flex: 0 0 auto;
  width: 1155px;
  height: 670px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-pasted-image2 {
  width: 1083px;
  height: 608px;
}
.home-pricing1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-gallery1 {
  width: 100%;
  height: 1185px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-gallery2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-gallery-heading {
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.home-gallery-sub-heading {
  color: rgb(153, 153, 153);
  text-align: center;
  line-height: 1.6;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-container09 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-pricing2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-details2 {
  width: 100%;
  height: 1008px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-details3 {
  width: 1483px;
  height: 1027px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-container10 {
  flex: 1;
  width: 1366px;
  height: 920px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.home-gallery-heading1 {
  height: 78px;
  align-self: center;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.home-iframe {
  width: var(--dl-size-size-maxwidth);
  height: 537px;
  align-self: center;
}
.home-container11 {
  width: 100%;
  height: 293px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container12 {
  flex: 0 0 auto;
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text23 {
  width: 237px;
  height: 55px;
  font-family: "Raleway";
}
.home-button {
  color: var(--dl-color-gray-white);
  width: 180px;
  height: 48px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(41, 20, 119);
}
.home-text26 {
  width: auto;
  height: var(--dl-size-size-large);
}
.home-container13 {
  flex: 0 0 auto;
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text30 {
  width: 126px;
  height: 57px;
  font-family: "Raleway";
}
.home-link3 {
  color: var(--dl-color-gray-white);
  width: 180px;
  height: 48px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: rgb(41, 20, 119);
}
.home-container14 {
  flex: 0 0 auto;
  width: 431px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text43 {
  width: 242px;
  height: 236px;
  align-self: center;
  font-family: "Raleway";
}
.home-text46 {
  align-self: center;
}
.home-pricing3 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home-footer1 {
  width: 100%;
  height: 203px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.home-container15 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.home-nav1 {
  color: var(--dl-color-secondary-gray500);
  margin-left: 0px;
  text-decoration: none;
}
.home-nav21 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-nav31 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-nav41 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-nav51 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text67 {
  color: var(--dl-color-secondary-gray500);
}
.home-icon-group1 {
  width: 81px;
  height: 41px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-link4 {
  display: contents;
}
.home-icon12 {
  fill: var(--dl-color-secondary-gray500);
  width: 40px;
  height: 40px;
  align-self: center;
  margin-right: 6px;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .home-dropdown-toggle {
    top: -18px;
    left: -259px;
  }
  .home-dropdown-list {
    top: 21px;
    left: -136px;
  }
  .home-burger-menu {
    top: 56px;
    right: 100px;
    position: absolute;
  }
  .home-icon02 {
    opacity: 0;
  }
  .home-hero {
    height: 437px;
  }
  .home-details {
    height: 539px;
  }
  .home-details1 {
    height: 454px;
  }
  .home-container05 {
    height: 926px;
  }
  .home-container06 {
    width: 1600px;
    height: 645px;
  }
  .home-container08 {
    width: 925px;
    height: 508px;
  }
  .home-pasted-image2 {
    width: 868px;
    height: 478px;
  }
  .home-iframe {
    width: 1293px;
  }
}
@media(max-width: 1200px) {
  .home-navbar-interactive {
    width: 968px;
  }
  .home-pasted-image {
    top: -115px;
    left: -106px;
    width: 252px;
    height: 247px;
  }
  .home-dropdown-toggle {
    top: -17px;
    left: -100px;
    width: 159px;
  }
  .home-dropdown-list {
    top: 4px;
    left: 16px;
  }
  .home-icon02 {
    opacity: 0;
  }
  .home-hero {
    height: 339px;
  }
  .home-hero-heading {
    color: var(--dl-color-gray-white);
    font-size: 60px;
    font-family: Raleway;
    line-height: 2;
  }
  .home-details {
    height: 462px;
    padding-bottom: 0px;
  }
  .home-details1 {
    width: 1122px;
    height: 348px;
    margin-top: 0px;
  }
  .home-container04 {
    width: 539px;
    height: 315px;
    padding-bottom: 0px;
  }
  .home-details-heading {
    width: 444px;
    height: 156px;
    font-size: 34px;
    font-family: Raleway;
    line-height: 1.6;
    margin-right: 0px;
  }
  .home-details-sub-heading {
    color: var(--dl-color-gray-800);
    font-size: 15px;
    line-height: 1.6;
  }
  .home-details-image {
    width: 318px;
    height: 307px;
  }
  .home-container05 {
    height: 778px;
  }
  .home-container06 {
    width: 1200px;
  }
  .home-container07 {
    width: 488px;
    height: 598px;
  }
  .home-pasted-image1 {
    width: 490px;
    height: 633px;
  }
  .home-container08 {
    width: 703px;
    height: 385px;
  }
  .home-pasted-image2 {
    width: 685px;
    height: 376px;
  }
  .home-gallery2 {
    height: 100%;
  }
  .home-details2 {
    height: 1024px;
  }
  .home-details3 {
    width: 1200px;
    height: 100%;
    margin-top: 0px;
  }
  .home-container10 {
    width: 1000px;
    height: 968px;
    margin-right: 0px;
  }
  .home-iframe {
    width: 1100px;
    height: 549px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-halfunit);
  }
  .home-footer1 {
    height: 218px;
  }
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    width: 991px;
    padding-left: 53px;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-dropdown-toggle {
    top: -20px;
    left: -147px;
  }
  .home-dropdown-list {
    display: none;
  }
  .home-burger-menu {
    width: var(--dl-size-size-xlarge);
    height: 100%;
    position: static;
    align-self: center;
  }
  .home-icon02 {
    fill: #ffffff;
    width: 46px;
    height: 34px;
    opacity: 1;
  }
  .home-aras {
    top: 32px;
    left: 123px;
    color: var(--dl-color-gray-black);
    opacity: 1;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .home-mobile-menu {
    top: -25px;
    right: 0px;
    width: auto;
    height: 500px;
  }
  .home-logo {
    font-size: 2em;
    font-weight: bold;
  }
  .home-container03 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-hero-heading {
    text-align: center;
  }
  .home-text18 {
    text-align: center;
  }
  .home-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-details1 {
    width: 991px;
  }
  .home-details-sub-heading {
    align-self: flex-start;
    text-align: left;
  }
  .home-details-image {
    width: 301px;
    height: 290px;
  }
  .home-menu1 {
    height: 736px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-container05 {
    height: 701px;
    padding-bottom: 0px;
  }
  .home-container06 {
    width: 991px;
    height: 506px;
    padding-bottom: 0px;
  }
  .home-container07 {
    width: 444px;
    height: 544px;
  }
  .home-pasted-image1 {
    width: 430px;
    height: 554px;
    align-self: center;
  }
  .home-container08 {
    width: 539px;
    height: 294px;
  }
  .home-pasted-image2 {
    width: 540px;
    height: 294px;
  }
  .home-gallery1 {
    height: 1514px;
  }
  .home-gallery2 {
    height: 100%;
  }
  .home-gallery-sub-heading {
    text-align: center;
  }
  .home-container09 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-details2 {
    height: 987px;
  }
  .home-details3 {
    width: 991px;
    height: 1067px;
  }
  .home-container10 {
    width: 868px;
  }
  .home-iframe {
    width: 891px;
  }
  .home-container14 {
    width: 300px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    width: 767px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-details {
    height: 741px;
  }
  .home-details1 {
    width: 767px;
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-container04 {
    align-items: center;
    justify-content: flex-start;
  }
  .home-text20 {
    text-align: center;
  }
  .home-details-heading {
    text-align: center;
  }
  .home-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-details-image {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
  .home-menu1 {
    height: 1053px;
  }
  .home-container05 {
    width: 767px;
    height: 1009px;
    align-items: center;
    margin-right: 0px;
    justify-content: flex-start;
  }
  .home-details-heading1 {
    text-align: center;
  }
  .home-container07 {
    position: relative;
  }
  .home-pasted-image1 {
    right: -264px;
    bottom: -382px;
    position: absolute;
  }
  .home-container08 {
    position: relative;
  }
  .home-pasted-image2 {
    top: -138px;
    left: -265px;
    width: 656px;
    height: 357px;
    position: absolute;
  }
  .home-gallery1 {
    height: 2155px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-gallery2 {
    height: 2191px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-gallery-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container09 {
    grid-template-columns: 1fr 1fr;
  }
  .home-details3 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-container10 {
    width: 767px;
    height: 758px;
    align-items: center;
    justify-content: flex-start;
  }
  .home-iframe {
    width: 660px;
  }
  .home-container14 {
    width: 252px;
  }
  .home-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container16 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text67 {
    color: var(--dl-color-secondary-gray500);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text68 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-header {
    height: 104px;
  }
  .home-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .home-aras {
    top: 23px;
    left: 135px;
  }
  .home-mobile-menu {
    top: -25px;
    right: -40px;
    padding: 16px;
  }
  .home-logo {
    font-size: 1.5em;
  }
  .home-icon04 {
    fill: var(--dl-color-gray-900);
  }
  .home-container03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero-heading {
    width: 479px;
    font-size: 40px;
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-details {
    height: 731px;
  }
  .home-details1 {
    width: 458px;
    height: 691px;
  }
  .home-container04 {
    width: 479px;
    height: 594px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-details-heading {
    width: 399px;
  }
  .home-details-sub-heading {
    text-align: left;
  }
  .home-details-image {
    width: 217px;
    height: 209px;
  }
  .home-menu1 {
    height: 830px;
    padding-top: 0px;
  }
  .home-container05 {
    height: 753px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container06 {
    width: 479px;
  }
  .home-container07 {
    width: 300px;
    height: 367px;
    position: relative;
  }
  .home-pasted-image1 {
    right: -93px;
    width: 334px;
    bottom: -198px;
    height: 429px;
    position: absolute;
  }
  .home-container08 {
    width: 444px;
    height: 242px;
    position: relative;
  }
  .home-pasted-image2 {
    top: -162px;
    left: -273px;
    width: 419px;
    height: 228px;
    position: absolute;
  }
  .home-gallery1 {
    height: 1124px;
  }
  .home-gallery2 {
    height: 1120px;
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .home-container09 {
    width: 432px;
    height: 909px;
    position: relative;
    align-self: center;
    grid-template-columns: 1fr;
  }
  .home-details2 {
    height: 1374px;
    margin-top: 0px;
    padding-top: 4px;
  }
  .home-details3 {
    width: 479px;
    height: 1201px;
    padding-top: 0px;
  }
  .home-container10 {
    width: 479px;
    height: 1233px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-iframe {
    width: 417px;
    height: 402px;
  }
  .home-container11 {
    width: 479px;
    position: relative;
  }
  .home-container12 {
    top: 44px;
    left: 76px;
    width: 328px;
    height: 202px;
    position: absolute;
    margin-right: var(--dl-space-space-unit);
  }
  .home-container13 {
    left: 106px;
    width: 264px;
    bottom: -217px;
    position: absolute;
  }
  .home-container14 {
    left: 0px;
    right: 0px;
    bottom: -478px;
    margin: auto;
    position: absolute;
  }
  .home-footer {
    width: 100%;
    height: 312px;
    padding-top: 0px;
  }
  .home-footer1 {
    height: 37px;
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container16 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text67 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text68 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
