.gallery-card3-gallery-card {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 300px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
























@media(max-width: 479px) {
  .gallery-card3-gallery-card {
    width: 181px;
    height: 136px;
    align-items: flex-start;
  }
  .gallery-card3-image {
    left: 3px;
    width: 173px;
    bottom: 4px;
    height: 125px;
  }
  .gallery-card3-root-class-name {
    top: 1px;
    right: 1px;
    width: 200px;
    position: absolute;
  }
  .gallery-card3-root-class-name2 {
    right: 21px;
    bottom: 3px;
    position: absolute;
  }
  .gallery-card3-root-class-name3 {
    top: 152px;
    right: 20px;
    position: absolute;
  }
  .gallery-card3-root-class-name6 {
    top: 305px;
    right: 21px;
    position: absolute;
  }
  .gallery-card3-root-class-name7 {
    top: 457px;
    right: 22px;
    position: absolute;
  }
  .gallery-card3-root-class-name10 {
    top: 617px;
    right: 23px;
    position: absolute;
  }
}
